<header>
  <nav style="background: green;"> <!-- Красный фон для элемента nav -->
    <ul>
      <!-- Отобразить элемент в строку; установить размер шрифта в 20px; применить шрифт без отсечек -->
      <li style="display: inline-block; font-size: 20px; font-family: sans-serif;">
        <a href="/" style="color: white;">Главная страница</a> <!-- Шрифт покрасить в белый; -->
      </li>
      <!-- Отобразить элемент в строку; установить размер шрифта в 20px; применить шрифт без отсечек -->
    </ul>
  </nav>
</header>